:root {
    --primary-background: #D1D1D1;
    --primary-color: #DD7373;
    --primary-color-contrast-text: #FFFFFF;
    --primary-color-alt: #3B3561;
    --color-sandstorm: #EAD94C;
    --color-cadet-blue: #51A3A3;
    --font-primary-color: #363636;
}